<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rclark.simpleatvbrowser"
    android:versionCode="3"
    android:versionName="0.2">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- this clever little permission lets us use the right stick as a mouse on nvidia shield -->
    <uses-permission android:name="nvidia.atv.rs_mouse" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/www"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- leanback app only -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <!-- add an intent filter for viewing browseable -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

            <!-- add an intent filter for WEB_SEARCH browseable -->
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- actually do this for ANY web search intent...
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="" />
                <data android:scheme="http" />
                <data android:scheme="https" /> -->
            </intent-filter>

        </activity>

        <provider
            android:authorities="com.example.rclark.simpleatvbrowser"
            android:name=".data.FavProvider"
            android:exported="false"
            android:syncable="true" />

    </application>

</manifest>
